*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;

}

#nav{
    width:100%;
    display: flex;
    height: 75px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index:10;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    top: 0;
    /* margin-top: -40px; */

}

#text{
  display: flex;  
  width:55%;
  justify-content: space-evenly;
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  align-items: center;
  color: #282c3f;

}
#text > img{
    width: 120px;
    height: 65px;
}

.slideimg{
  position: relative;
  margin: auto;
  margin-top: 120px;
}

.mySlides {
  display: none;
}
.mySlides > img{
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.nav_headingsright{
  margin-left: 10pxpx;
  display: flex;
  display: inline-block;
  padding: 10px 10px;
  list-style: none;
}

.searchbar{ 
  font-weight: 500;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 24px;
  padding-left: 25px;
  width: 400px;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* padding: 8px 10px 10px; */
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
  border-radius: 5px;
}

.searchbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-fit:contain;
  width:30%;
  height: 40px;
  background-color:#f5f5f6;
  border-radius: 5px;
  margin-left:50px ;
  /* margin-top: 15px; */
}
.search1{
  padding-left: 18px;
}

.Profile_title
{
    color: #000;
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
    margin-top: -5px;
}


.personwithTitile{
display: flex;
flex-direction:column;
height: 10px;
padding-bottom: 43px;
}

.nav_headingsright{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.deals{
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 15px;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 500
}  
.display_Deals{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  margin-top: 60px;
}

.display_Deals > div >img{
  /* position: absolute; */
  width: 100%;
}
.img1{
  width: 100%;
}
.FreeShippingBanner-sidebar {
  position: fixed;
  bottom: 130px;
  width: 44px;
  height: 288px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.FreeShippingBanner-sidebar-collapsed {
  right: 0;

}
.FreeShippingBanner-sidebar-content {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  width: 36px;
  padding: 4px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  color: #fcfcfc;
  display: inline-block;
  margin-top: 40px;
  /* margin-bottom: -40px; */
}

/* .FreeShippingBanner-sidebar{
display: block;
} */